$color-level-0: rgb(247, 251, 255);
$color-level-1: rgb(222, 235, 247);
$color-level-2: rgb(198, 219, 239);
$color-level-3: rgb(158, 202, 225);
$color-level-4: rgb(107, 174, 214);
$color-level-5: rgb(66, 146, 198);
$color-level-6: rgb(33, 113, 181);
$color-level-7: rgb(8, 81, 156);
$color-level-8: rgb(8, 48, 107);
$color-white: #fff;
$color-light-gray: #ccc;
$color-black: #000;

.choropleth {
  background: $color-light-gray;
}

.choropleth-state {
  stroke: $color-white;
  stroke-width: 2px;
}

.choropleth-text {
  font-family: sans-serif;
  text-anchor: middle;
  font-size: 9px;
  fill: $color-black;
}

.q0-9 {
  @extend .choropleth-state;
  fill: $color-level-2;
}

.q1-9 {
  @extend .choropleth-state;
  fill: $color-level-3;
}

.q2-9 {
  @extend .choropleth-state;
  fill: $color-level-4;
}

.q3-9 {
  @extend .choropleth-state;
  fill: $color-level-5;
}

.q4-9 {
  @extend .choropleth-state;
  fill: $color-level-6;
}

// Text
.choropleth-text,
.choropleth-legend-text,
.choropleth-legend-min,
.choropleth-legend-max {
  font-family: Arial, sans-serif;
  fill: #000;
}

.choropleth-text {
  text-anchor: middle;
  font-size: 10px;
}

// Legend
.choropleth-legend-stop-1 {
  stop-color: $color-level-2;
  stop-opacity: 1;
}

.choropleth-legend-stop-2 {
  stop-color: $color-level-6;
  stop-opacity: 1;
}

.choropleth-legend-rect {
  fill: url("#gradient");
}

// Legend Text
.choropleth-legend-text,
.choropleth-legend-min,
.choropleth-legend-max {
  font-size: 11px;
}

.choropleth-legend-min {
  text-anchor: start;
}

.choropleth-legend-max {
  text-anchor: end;
}

.choropleth-tooltip {
  position: absolute;
  background-color: $color-level-0;
  height: 48px;
  width: 76px;
  color: #222;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  opacity: 0.9;

  &.hidden {
    display: none;
  }
}

.choropleth-tooltip-details {
  font-size: 10px;
}
